body{
    background-image: url("/assets/images/background.jpg");
    /* background-size: 2000px; */
}
.card{
    background-color: lightblue;
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
}
.cityHistory{
    background-color: lightgray;
    padding: 4px;
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
}

.col-md-5ths{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}